html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

.articles-block {
  margin-top: 50px;
}

.article {
  max-width: 350px;
  list-style-type: none;
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 30px;
}

.image img {
  max-width: 100%;
}